<div class="dialog-container">
    <div class="dialog-header">
      <div style="display: flex;">
        <img src="assets/plusIcon.png" width="40px" height="40px" style="margin-top: 6%;"/>
        <h2> Adicionar Usuários</h2>
      </div>
      
      <button mat-icon-button mat-dialog-close (click)="closeDialog()" class="close-button">
        <mat-icon>close</mat-icon>
      </button>
    </div>
    <div class="dialog-body">
      <div class="search-bar">
        <input placeholder="Pesquisar" style="width: 100%;" />
      </div>

      <div class="user-lists">
        <div class="user-list">
          <h4>Fora do evento</h4>
          <ul class="wrapper">
            <li *ngFor="let user of usersOutside" (click)="selectOutsideEvent(user, $event)">
              {{ user }}
            </li>
          </ul>
        </div>

        <img src="assets/swapIcon.png" class="move-button" (click)="moveEvents()"/>

        <div class="user-list">
          <h4>Dentro do evento</h4>
          <ul class="wrapper">
            <li *ngFor="let user of usersInside" (click)="selectInsideEvent(user, $event)">
              {{ user }}
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="dialog-footer">
      <button class="save-button" mat-button mat-dialog-close>Salvar</button>
    </div>
  </div>
  