<div class="login-container">
    <div class="form-container">
      <form [formGroup]="formCadastro" (ngSubmit)="onSubmit()">

        <label for="username"><strong>Usuário</strong></label>
        <input name = "username"  type="text" placeholder="Usuário" formControlName="username"
        required/>
        
        <label for="name"><strong>Nome</strong></label>
        <input placeholder="Nome Completo" formControlName="name"
          required/>

          <label for="phone"><strong>Telefone</strong></label>
        <input placeholder="Telefone" formControlName="phone"
          required/>

          <label for="password"><strong>Senha</strong></label>
          <input name = "password" type="password" placeholder="Senha" formControlName="password"
            required/>

          <label>
            <input type="checkbox" /> Será apoiador?
          </label>

          <div class="button-container">
            <button class="cancel-button">Cancelar</button>
            <button type="submit" [disabled] = "formCadastro.invalid" [class.empty]="formCadastro.invalid">Salvar</button>
            </div>
          
      </form>
      
    </div>

    

  </div>
  