<div class="login-container">
  <div class="logo-container">
    <img src="assets/logo.png" alt="Bons Fluidos" />
  </div>
  <div class="form-container" *ngIf="form">
    <form [formGroup]="form" (ngSubmit)="onSubmit()">
      <label for="username">Usuário</label>
      <input
        name="username"
        type="text"
        placeholder="Usuário"
        formControlName="username"
        required
      />

      <label for="password">Senha</label>
      <input
        name="password"
        type="password"
        placeholder="Senha"
        formControlName="password"
        required
      />

      <p *ngIf="form.invalid" style="color: red">
        Usuário e/ou senha incorretos!
      </p>

      <button
        type="submit"
        [disabled]="form.invalid"
        [class.empty]="!form.value.username || !form.value.username"
      >
        Login
      </button>
    </form>
  </div>
</div>
